
.label-xsmall {
  vertical-align: super;
  font-size: x-small;
}

.label-small {
  vertical-align: super;
  font-size: small;
}

.label-medium {
  vertical-align: super;
  font-size: medium;
}

.label-large {
  vertical-align: super;
  font-size: large;
}

.label-bs {
  vertical-align: super;
}
.jumbotron2 {
  background-image: url("../img/jumbotron_bg.jpg");
  background-size: cover;
}